@charset "UTF-8";

/* Mobile first */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte-principal: font-family: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    font-family: var(--fonte-principal);
}

body {
    width: 100vw;
    margin: auto;
}   

section#apresentacao {
    padding-top: 100px;
    padding-bottom: 100px;
}

section#apresentacao h1 {
    width: 300px;
    display: inline-block;
}

section#apresentacao p {
    display: inline-block;
    width: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

section#apresentacao img {
    border-radius: 50%;
    width: 300px;
    display: inline-block;
}

section#apresentacao a {
    padding: 10px 10px;
    background-color: brown;
    color: white;
    text-decoration: none;
}

section#apresentacao a:hover {
    background-color: red;
}

section#projetos {
    background-color: rgb(0, 82, 61);
    color: white;
}

section#habilidades-tecnicas {
    background-color: rgb(0, 82, 61);
    color: white;
}

section#contato {
    background-color: rgb(0, 82, 61);
    color: white;
}

div.section {
    margin: auto;
    width: 80vw;
}