@charset "UTF-8";

:root {
    /* --title-font: 'Poppins', sans-serif;
    --content-font: 'Roboto', sans-serif; */
    --black-color: #000;
    --white-color: #fff;
    --light-gray-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.section {
    margin: 0 auto;
    max-width: 120rem;
    min-height: 100vh;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;
}

.menu h1 {
    font-size: 2.5rem;
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li {
    padding: 2rem 1rem;
}

.menu ul li a {
    color: black;
    text-transform: uppercase;
    font-weight: 500;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 15rem;
}

.top-text-content {
    text-align: center;
}

.top-text-content h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}