@charset "UTF-8";

:root {
    /* --title-font: 'Poppins', sans-serif;
    --content-font: 'Roboto', sans-serif; */
    --black-color: #000;
    --white-color: #fff;
    --light-gray-color: #eeeeee;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
}

p {
    margin-bottom: 2rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background: var(--black-color);
    color: var(--white-color);
}

.white-bg {
    background: var(--white-color);
    color: var(--black-color);
}

.main-content {
    margin: 0 auto;
    padding: 8rem;
}

.section {
    min-height: 100vh;
}

.menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-bottom: 0.1rem solid var(--light-gray-color);
}

.menu ul {
    display: flex;
    list-style: none;
}

.menu ul li a {
    display: block;
    padding: 2rem 1rem;
    font-size: 1.8rem;
    color: var(--black-color);
    text-transform: uppercase;
    font-weight: 500;
}

.menu h1 {
    font-size: 2.5rem;
}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

.intro h1, .intro p {
    text-align: center;
}

.intro ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.intro ul li a {
    display: block;
    padding: 0rem 2rem;
}