@charset "UTF-8";

:root {
    /* --title-font: 'Poppins', sans-serif;
    --content-font: 'Roboto', sans-serif; */
    --text-color: rgba(0, 0, 0, 0.8);

    --black-color: #000;
    --white-color: #fff;
    --light-gray-color: #eeeeee;
    --light-blue-color: #00acff;

    --menu-bg-color: #1B1B1B;
    --main-bg-color: #1F1F1F;
    --main-bg-img: url('../img/main-bg.svg');
    --footer-bg-color: #1B1B1B;

    --title-font: 'Nunito', sans-serif;
    --content-font: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: var(--content-font);
    font-size: 2rem;
    line-height: 1.5;
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    transform: 1s;
    transition: all 300ms ease-in-out;
}

header.scrolling {
    background-color: var(--menu-bg-color);
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2), 0px 2px 2px 0px rgba(0,0,0,.14), 0px 1px 5px 0px rgba(0,0,0,.12);
}

h1 {
    font-family: var(--title-font);
}

h2 {
    font-family: var(--content-font);
    font-weight: 400;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

p {
    margin-bottom: 2rem;
}

.section {
    padding-top: 2.4rem;
    padding-bottom: 2.4rem;
    margin: 0 auto;
    max-width: 128rem;
}

.container {
    width: 100%;
    max-width: 128rem;
    padding: 2.4rem;
    margin: 0 auto;
}

.main-background {
    background: url('../img/main-bg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.white-background {
    background: var(--white-color);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 2rem;
    margin: 0 auto;
    color: var(--white-color);
}

.menu h1 {
    font-family: var(--content-font);
    font-size: 2.3rem;
    font-weight: 600;
}

.menu h1 a {
    color: inherit;
}

.menu ul {
    display: flex;
}

.menu ul li {
    padding: 2rem 1rem;
}

.menu ul li a {
    display: block;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.6rem;
    color: inherit;
}

.splash {
    background: none;
    color: var(--white-color);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20rem;
    margin-top: 0rem;
}

.profile-picture img {
    border-radius: 50%;
    width: 14rem;
}

.top-text-content {
    text-align: center;
}

.top-text-content h1 {
    font-size: 6.5rem;
    letter-spacing: 0.3rem;
}

.top-text-content h2 {
    font-weight: 400;
    font-size: 2.8rem;
    margin-top: 1.5rem;
    margin-bottom: 4.5rem;
}

#impossible-list.top-text-content h1 {
    padding-top: 4rem;
}

#impossible-list.top-text-content h2 {
    margin-top: 0.5rem;
}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials img {
    width: 2.5rem;
    margin: 0rem 1rem;
}

.tooltip {
    pointer-events: none;
    user-select: none;
    opacity: 0;
    transform: translateX(-50%);
    transition: opacity .2s ease;
    position: absolute;
    z-index: 1;
    inline-size: max-content;
    max-inline-size: 25ch;
    text-align: center;
    font-size: 1.3rem;
    font-weight: normal;
    line-height: normal;
    line-height: initial;
    padding: .75ch 1.5ch;
    inset-inline-start: 50%;
    inset-block-start: calc(100% + 1ch);
    margin: 0;
    border-radius: 5px;
    background: rgba(97,97,97,.9);
    color: #fff;
    box-shadow: 0px 3px 1px -2px rgba(0,0,0,.2),0px 2px 2px 0px rgba(0,0,0,.14),0px 1px 5px 0px rgba(0,0,0,.12)
}

.tooltip::before {
    content: "; Has tooltip: ";
    height: 20px;
    width: 30px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    top: -20px;
    left: calc(50% - 15px);
    right: calc(50% + 15px);
    bottom: 0;
    opacity: 0
}

.has-tooltip:is(:hover,:focus-visible,:active)>.tooltip,.has-tooltip>a:is(:hover,:focus-visible,:active)+.tooltip {
    opacity: 1;
    transition-delay: 200ms;
    pointer-events: unset;
    user-select: unset
}

.has-tooltip {
    position: relative;
}

#about-me {
    font-weight: 300;
    font-size: 2.5rem
}

#about-me p {
    margin-bottom: 3rem;
}

.section-title {
    padding: 7rem 0;
    color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}   

.section-title h2 {
    font-size: 3.8rem;
}

#top-projects h2 {
    font-size: 2.7rem;
    font-weight: 500;
    text-align: center;
    margin-top: 2.7rem;
    margin-bottom: 2.7rem;
}

.list-description, .list {
    font-size: 1.6rem;
}

.list h2 {
    font-size: 2.8rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
}

.list ul {
    padding-inline-start: 4rem;
}

.list ul li {
    list-style: disc;
    line-height: 3.6rem;
}

.list ul ul li {
    line-height: 2.6rem;
}

.list a {
    color: var(--light-blue-color);
}

footer {
    background: none;
    color: var(--white-color);
}

footer a {
    color: var(--light-blue-color);
}

footer .footer-sections {
    display: flex;
    column-gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}

footer .footer-section {
    flex-grow: 1;
    font-size: 1.7rem;
    line-height: 2.3rem;
}

footer .footer-section h2 {
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
}

footer .copyright {
    background: rgba(0, 0, 0, 0.3);
}

footer .copyright .container {
    display: flex;
    padding: 0.8rem 2.4rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap-reverse;
    gap: 1rem;
}

footer .copyright .container .copyright-text {
    font-weight: 300;
    font-size: 1.5rem;
}

footer .copyright p {
    margin: 0;
}